hr{
  font-family: "brandon grotesque";
  width: 100%;
  height: 100px;
  border: none;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url("Snail HR.png");
}

header{
  font-family: "brandon grotesque";
  background-color: #d2aa88;
  display: block;
  padding-left: 10px
  }
h1{
  font-size: 40px;
  text-align: center;
}
h2{
  font-size: 25px;
  text-align: center;
}
.image-style {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
  height:30%;
}
p{
  color: black;
  font-size: 15px;
  font-family: "open sans";
}
a:any-link{
  color: #633974;
}
  
